@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");

@mixin social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

@mixin justify_align {
  justify-content: center;
  align-items: center;
}

@mixin size_image {
  width: 100%;
  height: 100%;
}

@mixin information {
  border: 1px solid #f9f9;
  border-top: none;
  text-align: center;
  padding-top: 20px;
  position: relative;
}


@media only screen and (max-width: 780px) {
  .body-content {
    display: flex;
    flex-direction: column;
  }
  .body-shopping-product {
    padding-bottom: 20px;
  }

  .categories-price {
    flex-direction: column;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) { 

  .products{
    flex-direction: column;
  }
  .products .categories-hot-products {
      width: 100% !important;
  }

 }

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .categories-price {
    flex-direction: column;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .categories-price {
    flex-direction: column;
  }


}


$myFirstColor: #fff;
$mySecondColor: #3fb871;
$mainColor: #898989;
$colorb7: #b7b7b7;
$feb: #febf01;
$color3131: #313131;
$color393e: #ee393e;
$colorRed: red;
$colorE64: #E64A19;
$colorBlack: #000000;
$colorDc: #dcdde1;

body {
  p {
    margin: 0;
  }
  ul {
    padding: 0;
  }
}


.header-info {
  background-color: $colorBlack;
  // padding: 32px 0px;
}

.header {
  &-info {
    &-time,
    &-content,
    &-contact,
    &-social,
    &-account {
      display: flex;
      color: $mainColor;
      font-family: Arial, Helvetica, sans-serif;
    }
    &-time {
      align-items: center;

      span {
        font-size: 12px;
      }
    }
    &-content {
      justify-content: space-between;
      padding: 3px 0px;
      position: relative;
    }
    &-social {
      margin-left: 10px;
      .facebook,
      .twitter,
      .tumblr,
      .vimeo {
        @include social;
        display: inline-block;
        border-right: 1px solid ;
        padding: 4px 16px;
        font-size: 12px;
      }
      div:first-child {
        border-left: 1px solid ;
      }
    }
    &-account {
      @include social;
      font-size: 12px;
    }
    &-login {
      padding-right: 15px;
    }
  }
}

.body {
  &-background {
    background-image: url("../assets/bgr_image.png");
    background-color: $colorDc;
  }
  &-content {
    @include social;
  }
  &-call {
    margin-left: 20px;

    span {
      font-size: 14px;
    }
  }
  &-search {
    margin-top: 15px;
    flex: 1;
    input,
    button {
      border: none;
      border-radius: 20px;
    }
    input {
      width: 350px;
      height: 40px;
      outline: none;
      padding: 0px 30px;
    }
    button {
      background-color: $myFirstColor;
      display: flex;
      width: 50px;
      height: 10px;
      align-items: center;
      justify-content: center;
    }
  }
  &-search-box,
  &-shopping-cart,
  &-support {
    display: flex;
  }
  &-search-box {
    background: $myFirstColor;
    border-radius: 30px;
    height: 40px;
    align-items: center;
  }
  &-shopping-cart {
    margin-top: 35px;
  }
  &-shopping-product {
    font-size: 15px;
  }
  &-icon-cart {
    margin-right: 10px;
  }
  &-support {
    flex-direction: column;
  }
}

.nav-bar {
  background-color: $mySecondColor;
  &-background,
  &-icon,
  &-main-menu,
  &-dropdown {
    display: flex;
  }
  &-icon {
    @include justify_align;
    color: $myFirstColor;
  }
  &-main-menu {
    list-style: none;
    margin: 0px 0px;
    position: relative;

    .homepage, .introduce, .sanpham, .sanphammoi, .tintuc, .lienhe {
      @include justify_align;
      color: $myFirstColor;
      text-decoration: none;
      display: block;
      padding: 16px 15px;
      font-size: 14px;
      font-family: "Roboto", sans-serif;

      &:hover {
        background-color: #36a66d;
      }
    }
  }

  &-dropdown {
    position: relative;
    i {
      align-items: center;
      padding-left: 5px;
      position: absolute;
    }

    &:hover {
      .nav-bar-product-list {
        display:flex;
      }
    }


  }

  &-product-list {
    width: 100%;
    display: none;
    position: absolute; 
    z-index: 1;
    top: 53px;
    flex-direction: column;
    list-style: none;
    background-color: $mySecondColor;

    li{
      text-align: center;
      &:hover {
        background-color: #36a66d;
      }
    }

    a {	
      display: inline-block;
      color: $myFirstColor;
      padding: 8px 0px;
      font-size:20px;
      font-size: 14px;
      text-decoration:none;
    }
  } 
}

.content {
  &-title,
  &-hire,
  &-text {
    color: $myFirstColor;
  }
  .carousel-inner {
    font-size: 60px;
  }
  .content-title {
    font-family: "Roboto Slab", serif;
  }
  .content-hire {
    font-family: "Amatic SC", sans-serif;
    font-size: 5rem;
  }
  .content-text {
    font-size: 20px;
  }
}

.outstanding-product, .hot-product, .discount-product, .new-product-text {
    margin-top: 40px;
    padding-bottom: 50px;
}
.categories {
  display: flex;
  padding-bottom: 5%;

  .outstanding-product, .hot-product, .discount-product, .new-product-text, .news {
    color: $mySecondColor;
    font-family: 'Roboto Slab', serif;
  }

  .categories-price {
    padding-bottom: 15px;
  }

  .categories-firstPrice {
    color: $colorRed;
    font-size: 20px;
  }
  &-new {
      position: absolute;
      border: 1px solid;
      border-radius: 50px;
      width: 45px;
      height: 45px;
      margin: 10px 15px;
      display: flex;
      @include justify_align;
      background-color: $mySecondColor;
      color: $myFirstColor;   

      p {
        margin: 0px 0px
      }
  }

  &-image img {
      @include size_image;
  }

  &-information {
    @include information;
  }

  &-name {
    font-size: 16px;
    margin-bottom: 5px;
  }

  &-star {
      color: $feb;
  }

  &-price {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  &-priceDiscount {
    text-decoration: line-through;
  }

  &-page-1a img {
      @include size_image;
  }
  &-page-1 {
      padding-bottom: 20px;
  }
  &-page-1b {
      padding-top: 20px;
  }
  &-information-2 {
      @include information;
  }

  .categories-page-2 {
    border: 1px solid #f9f9;
    align-items: center;
    display: flex;
    width: 90%;
    line-height: 29px;
    margin-left: 15px;

    img {
      width: 150%;
      height: 150%;
    }
    &-info {
      margin: 12px 10px;
    }
    &-star {
      color: $feb;
    }
    &-infoPrice {
      color: $color393e;
    }

  }

  .discount-product-image1 {
    margin-top: 15px;

    img {
      @include size_image;
    }
  }
  .discount-product-information {
    @include information;
    margin-bottom: 25px;
  }
  .image-famous img, .news-image1 img {
    @include size_image;
  }

  .new-product-information {
    @include information;
    margin-bottom: 25px;
  }

  .news-infoDetail {
    padding-top: 24px;

    &-time {
      font-size: 12px;
      font-family: "Roboto Slab", serif;
      color: #959595;
    }

    &-title {
      padding-top: 26px;
      font-weight: bold;
      font-size: 14px;
      color: $mySecondColor;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &-detail {
      font-size: 12px;
      white-space: pre-line;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    &-continues {
      color: $mySecondColor;
      font-size: 12px;
    }
  }
}

// -----------------------------------------------------------------

.footer-homepage {
  background-color: $color3131;
  padding-top: 2%;

  &-header {
    display: flex;
    justify-content: space-between;
  }

  &-info {
    color: $mainColor;
    font-size: 14px;
    font-weight: bold;

    p {
      padding-bottom: 10px;
    }
  }

  &-social {
    display: flex;

    i {
      margin-right: 20px;
    }
  }
  &-register {
    color: $mainColor;
    font-weight: bold;
    font-size: 14px;

    .receive {
      padding-bottom: 10px;
    }
  }

  &-search {
    width: 100%;
    height: 47px;
    display: flex;
    border: none;
    outline: none;

    input {
      padding-left: 30px;
    }

    button {
      border: none;
      background-color: $mySecondColor;
      width: 60px;
      color: $myFirstColor;
    }
  }

  &-content {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
  }

  &-establish p {
    max-width: 300px;
    padding-top: 22px;
    font-size: 12px;
  }

  &-establish p, &-contact p {
    color: $colorb7;
  }

  &-contact {
    font-size: 12px;

    .phone, .email {
      display: flex;
      padding-top: 14px;
    }
  }
  &-infoCustomer p {
    color: $colorb7;
    padding-top: 10px;
  }

  .info_title {
    color: $mySecondColor;
    font-weight: bold;
    font-size: 14px;
  }

  &-detailInfo p {
    padding-top: 20px;
    font-size: 12px;
  }
}

